@inject HttpClient HttpClient

    <form>
        <div class="container-fluid">
            <div>
                @QuestionModel.Description
            </div>
            @if (QuestionModel.MultipleAnswers)
            {
                foreach (var choice in QuestionModel.Choices)
                {
                    <input type="checkbox" id="@choice" name="@QuestionModel.QuestionId" value="@choice" @onchange="(e => AssignValueCheckbox(e, QuestionModel.Choices.IndexOf(choice)))" />
                    <label for="@choice">@choice</label><br>
                }
            }
            else
            {
                foreach (var choice in QuestionModel.Choices)
                {
                    <input type="radio" id="@choice" name="@QuestionModel.QuestionId" value="@choice" @onchange="(e => AssignValueRadio(e, QuestionModel.Choices.IndexOf(choice)))" />
                    <label for="@choice">@choice</label><br>
                }
            }
        </div>
        <input class="btn btn-primary" type="button" value="Подтвердить" @onclick="AnswerQuestion" />
        @*<input class="btn btn-primary" type="submit" value="Подтвердить" @onclick="(() => SubmitAnswer.InvokeAsync(SetValues()))" />*@
    </form>

@code {
    [Parameter]
    public int ComponentId { get; set; }

    [Parameter]
    public QuestionDTO QuestionModel { get; set; }

    protected AnswerDTO CorrectAnswer { get; set; }

    //[Parameter]
    //public EventCallback<QuestionAnswerDTO> SubmitAnswer { get; set; }

    //[Parameter]
    public AnswerResultDTO Result { get; set; }

    public List<int> UserChoices { get; set; } = new List<int>();

    public bool ErrorOccured { get; set; } = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync($"api/test/answer/{QuestionModel.QuestionId}");

        try
        {
            response.EnsureSuccessStatusCode();
        }
        catch(HttpRequestException ex)
        {
            ErrorOccured = true;
        }

        CorrectAnswer = await response.Content.ReadAsJsonAsync<AnswerDTO>();
    }

    protected void AssignValueCheckbox(ChangeEventArgs e, int choice)
    {
        choice += 1;
        if (UserChoices.Contains(choice))
        {
            UserChoices.Remove(choice);
        }
        else
        {
            UserChoices.Add(choice);
        }
    }

    protected void AssignValueRadio(ChangeEventArgs e, int choice)
    {
        choice += 1;
        UserChoices.Clear();
        UserChoices.Add(choice);
    }

    private QuestionAnswerDTO SetValues()
    {
        return new QuestionAnswerDTO()
        {
            QuestionId = QuestionModel.QuestionId,
            Choices = UserChoices
        };
    }

    protected void AnswerQuestion()
    {
        Result = new AnswerResultDTO();
        if (UserChoices.SequenceEqual(CorrectAnswer.CorrectAnswers))
        {
            Result.QuestionId = CorrectAnswer.QuestionId;
            Result.IsCorrect = true;
        }
    }

    protected void AnswerSubmited(ChangeEventArgs e)
    {

    }

    // Check Blazor Render Fragment

    //public string QuestionBgStyle { get; set; }

    //private void ChangeBgColor()
    //{
    //    if (Result.IsCorrect)
    //    {
    //        QuestionBgStyle = "background-color: rgba(17, 223, 44, 0.31)";
    //    }
    //    else
    //    {
    //        QuestionBgStyle = "background-color: rgba(223, 17, 17, 0.31)";
    //    }
    //}

    //protected override void OnParametersSet()
    //{
    //    if (Result != null)
    //    {
    //        ChangeBgColor();
    //    }
    //}
}
