@page "/TestDetails/"
@page "/TestDetails/{shortName}"

@inject HttpClient HttpClient
@inject NavigationManager NavigationManager
@inject IModalService Modal

@if (TestInfo != null)
{
    <h3>@TestInfo.Name</h3>

    <h2>@TestInfo.QuestionsApproved</h2>

    <button @onclick="@(() => RedirectTo("test"))">Начать тест</button>
    <button @onclick="@(() => ShowCreatingDialog())">Добавить вопрос</button>
    @*<button @onclick="@(() => RedirectTo("create"))">Добавить вопрос</button>
    <button @onclick="@ShowCreatingDialog">Добавить вопрос</button>
    if (createQuestionDialog)
    {
        <CreateQuestionDialogComponent TestId="@TestInfo.TestId.ToString()"></CreateQuestionDialogComponent>
    }*@
}
else
{
    <h3>Loading...</h3>
}
@code {
    [Parameter]
    public string ShortName { get; set; }

    public TestDetailsDTO TestInfo { get; set; }

    private bool createQuestionDialog = false;

    protected override async Task OnInitializedAsync()
    {
        var response = await HttpClient.GetAsync($"api/TestDetails/{ShortName}");

        response.EnsureSuccessStatusCode();

        TestInfo = await response.Content.ReadAsJsonAsync<TestDetailsDTO>();
    }

    public void RedirectTo(string path)
    {
        NavigationManager.NavigateTo($"{path}/{TestInfo.TestId}", false);
    }

    protected async Task ShowCreatingDialog()
    {
        var parameters = new ModalParameters();
        parameters.Add(nameof(CreateQuestionDialogComponent.TestId), TestInfo.TestId.ToString());

        createQuestionDialog = true;

        var formModal = Modal.Show<CreateQuestionDialogComponent>(TestInfo.Name, parameters);

        var result = await formModal.Result;

        if (!result.Cancelled)
        {
            await CreateQuestionAsync(result.Data as CreateQuestionDTO);
        }
    }

    private async Task CreateQuestionAsync(CreateQuestionDTO questionModel)
    {
        var response = await HttpClient.PostJsonAsync($"api/CreateQuestion", questionModel);

        response.EnsureSuccessStatusCode();
    }

    /* Структура страницы
     * Описание теста, количество вопросов, текущий статус для пользователя(?), кнопка "пройти тест", кнопка "добавить вопрос"
     * При нажатии "Пройти тест страница ререндерится в список вопросов.
     * Решить: структура теста (количество вопросов, как они размещены)"
     */
}
